---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title"></Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      <div class="group">
        <div class="w-full aspect-square">
        </div>
      </div>
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg font-semibold">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>

    <Sectionhead>
      <Fragment slot="title">Why <span style="color: #02AB4A;">developuls</span>?</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <div class="flex flex-col gap-2 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-2xl" style="color: #02AB4A;">
        Experienced Team
      </h2>
      <p class="text-lg leading-relaxed">
        Developuls is packed with an extraordinary amount of experience in software engineering, product management, tech writing, developer relations, and IT consulting. We've seen and crafted developer program journeys in both, early-stage startups, and 4k-employee enterprises.
      </p>
      <p class="text-lg leading-relaxed">
        We'll research your domain and audience and meet the needs of growing your developer program.
      </p>
    </div>

    <div class="flex flex-col gap-2 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-2xl" style="color: #02AB4A;">
        Product-focused
      </h2>
      <p class="text-lg leading-relaxed">
        There are no one-size-fits-all solutions. We understand that every product is unique, and every dev tool is a world of its own. While you need to stay informed on all relevant metric indicators, treating them equally will only get you all over the place.
      </p>
      <p class="text-lg leading-relaxed">
        Our strategies are tailored to help your solution's short and long-term goals come through.
      </p>
    </div>

    <div class="flex flex-col gap-2 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-2xl" style="color: #02AB4A;">
        Community Nurturing
      </h2>
      <p class="text-lg leading-relaxed">
        Your dev community is a safe space for everyone playing around and using your solution. Not everyone involved will be keen to fill in your questionnaires or react to your announcements and launches equally.
      </p>
      <p class="text-lg leading-relaxed">
        We'll help you grow your community with a personal touch and learn about it as you go.
      </p>
    </div>
  </Container>
</Layout>