---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Training & Consulting",
    description:
      "Expert guidance and skill development through services such as market research, documentation and website optimization, CFPs coaching, recruitment support, and educational workshops.",
    icon: "mdi:teacher",
  },
  {
    title: "Awareness Strategy",
    description:
      "Enhancing dev tool visibility and growth potential with services like content strategy development, researching for untapped potential, planning event calendar, and executing targeted outreach campaigns.",
    icon: "fluent:arrow-growth-20-filled",
  },
  {
    title: "Community Strategy",
    description:
      "Building a strong and engaged community through services encompassing community engagement, KYC strategy implementation, partnerships, network expansion, and dedicated plan for the optimal developer journey.",
      icon: "mdi:account-group",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    A one-stop shop for developer relations services
  </h2>
  <p class="text-lg mt-4">
    Focus on innovation. Let <span style="color: #02AB4A; font-weight:800;">developuls</span> handle the strategy of your dev tool growth.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg" style="color: #02AB4A;">{item.title}</h3>{" "}
          <p class="mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
