---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "https://i.ibb.co/t4XLgwX/opengraph.png",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "developuls"
  : "developuls - The heartbeat of your DevRel journey";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

  <!-- Cal floating-popup embed code begins -->
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="developuls is a one stop shop for developer relations services. The heartbeat of your DevRel journey."
      canonical={canonicalURL}
      twitter={{
        creator: "@kiselitza",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `developuls - The heartbeat of your DevRel journey`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Developuls Homepage Screenshot",
        },
      }}
    />
  </head>
  <body style="background-image: url(https://i.ibb.co/ZJVDh0f/nightsky-stars.gif); background-size: 100%; background-color: #2A2B50; color: #CCD6FC;">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      .prose h2 {
        color: #02AB4A;
      }

      .prose p strong {
        color: #02AB4A;
      }

      .prose p a {
        color: #02AB4A;
      }

      .prose-lg img {
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    </style>

    <script type="text/javascript">
      (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
      Cal("init",  {origin:"https://cal.com"});

      Cal("floatingButton", {"calLink":"developuls/intro","config":{"layout":"month_view"},"buttonTextColor":"#FFFFFF","buttonColor":"#02AB4A","buttonText":"Book a call","hideButtonIcon":false});
      Cal("ui", {"styles":{"branding":{"brandColor":"#02AB4A"}},"hideEventTypeDetails":false,"layout":"month_view"});
      </script>


  </body>
</html>
